.cover {
  .wedding-date {
    margin-top: 0.8rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .divider {
      background-color: var(--dark-color);
      width: 1px;
      height: 0.7rem;
    }
  }

  .wedding-day-of-week {
    font-size: 1.2rem;
    opacity: 0.7;
    margin-bottom: 1rem;
  }

  .image-wrapper {
    width: 100%;
    height: 25rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 25rem; // 원하는 높이
      width: auto; // 비율 유지하며 너비 자동 계산
    }
  }

  .subtitle {
    font-size: 1.2rem;
    font-family: "Courgette";
    font-style: normal;
    color: #60141d;
    margin-top: 1rem;
  }

  .names {
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    // font-weight: 600;
    .divider {
      background-color: var(--dark-color);
      width: 1px;
      height: 0.7rem;
    }
  }
  .info {
    margin-bottom: 0.3rem;
    font-weight: 600;
    opacity: 0.7;
  }
}
