.intro-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: #d0c7b8;
}

.intro-video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(1.05) scaleY(1.23) translateY(-25px);
}
