.intro-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: #e6dfcf;
}

.intro-video {
  width: 200%;
  object-fit: contain;
  transform: translateY(-50px);
}
// background-color: #e5dece;
